aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
discord-components==2.1.0
discord.py==1.7.3
idna==3.2
multidict==5.1.0
pypiwin32==223
python-dotenv==0.19.0
pywin32 @ file:///C:/Users/brayd/Desktop/Bots/XFer/pywin32-301-cp39-cp39-win32.whl
pyWinhook @ file:///C:/Users/brayd/Desktop/Bots/XFer/pyWinhook-1.6.2-cp39-cp39-win32.whl
typing-extensions==3.10.0.1
yarl==1.6.3
